.dashboard {
  width: 100%;
  margin-bottom: clamp(1rem, 5vw, 4rem);
  padding-inline: clamp(1rem, 5vw, 4rem);
  height: auto;
}

h1 {
  margin-block: clamp(1rem, 5vw, 4rem);
  font-size: clamp(3rem, 15vw, 4rem);
  color: var(--clr-primary);
}

h2 {
  margin: 0;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* grid-template-columns: 1fr 1fr; */
  gap: 3rem;
}

form input,
select,
button,
option {
  all: unset;
}

form {
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 40px 0px rgba(197, 73, 255, 0.15);
  display: flex;
  flex-direction: column;
  /* height: fit-content; */
  gap: 2rem;
  color: var(--clr-text);
}

form label {
  color: var(--clr-primary);
}

.inputContainer input,
.select {
  padding: 1rem;
  box-shadow: 0px 0px 20px -5px rgba(197, 73, 255, 0.15);
  border-radius: 0.5rem;
}

.inputContainer {
  position: relative;
}

.option {
  position: absolute;
  top: 5.9rem;
  height: 10rem;
  overflow-y: scroll;
  background-color: white;
  outline: 1px solid var(--clr-accent);
  border-radius: 0 0 0.5rem 0.5rem;
  transform-origin: top left;
  transform: translateY(-0.75rem);
  width: 100%;
  z-index: 100;
}

.inputContainer .select:has(~.option) {
  border-radius: 0.5rem 0.5rem 0 0;
}



.inputContainer .option ul {
  margin: 0;
  padding: 0;
}

.inputContainer .option li {
  padding: 0.5rem;
  color: var(--clr-select);
  /* } */

  /* .inputContainer select option { */
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.inputContainer .option li:hover {
  border-radius: 0.5rem;
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
}

.form button {
  padding: 1rem;
  justify-self: flex-end;
  margin-top: auto;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 0.5rem;
  width: fit-content;
}

.inputContainer input:focus,
.select:focus {
  outline: 1px solid var(--clr-accent);
  box-shadow: 0px 0px 40px 0px rgba(197, 73, 255, 0.15);
}

.tag-container {
  width: 100%;
  display: flex;
  justify-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0px 0px 20px -5px rgba(197, 73, 255, 0.15);
  border-radius: 0.5rem;
}

.tag {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  margin-right: 0;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 0.5rem;
  height: fit-content;
  cursor: pointer;
}

.tag-container input {
  all: unset;
  padding: 1rem;
  position: relative;
}

.tag-container input:focus {
  all: unset;
  padding: 1rem;
  position: relative;
  width: auto;
}

.tag-container:has(~.tag-popup) {
  border-radius: 0.5rem 0.5rem 0 0;
}

.tag-container:has(.tag-input:focus) {
  box-shadow: none;
  outline: 1px solid var(--clr-accent);
  box-shadow: 0px 0px 40px 0px rgba(197, 73, 255, 0.15);
}

.tag-popup {
  position: absolute;
  top: 5.9rem;
  height: max-content;
  max-height: min(11rem, 40vh);
  overflow-y: scroll;
  background-color: white;
  outline: 1px solid var(--clr-accent);
  border-radius: 0 0 0.5rem 0.5rem;
  transform-origin: top left;
  transform: translateY(-0.75rem);
  width: 100%;
  z-index: 100;
}

.tag-popup ul {
  margin: 0;
  padding: 0;
}

.tag-popup li {
  list-style: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.tag-popup li:hover {
  border-radius: 0.5rem;
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
}

@media screen and (width <=600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .option {
    position: static;
  }

  .tag-popup {
    position: static;
  }
}