@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding:0;
    background-color: #fffaff;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

*::selection {
    background-color: #e4c9ff;
    color: #4a0095;
}
.max-width {
    max-width: 1400px;
    margin: auto;
}

header {
    display: block;
    position: sticky;
    top: 0;
    height: calc(3rem + 2.4rem);
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgba(197, 73, 255, 0.15);
    /* x-offset y-offset blur spread*/
    padding: 0 clamp(1rem,3vw,5rem);
    z-index: 101;
}

header > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.2rem 0;
}

.site-header {
    text-transform: uppercase;
    line-height: 3rem;
    font-weight: 800;
    font-size: 2rem;
    color: #641b6b;
}
.site-header > span{
    color: #d15fdb;
}

nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > ul > li {
    list-style: none;
    padding: 0 2rem 0 0;
}
nav > ul > li:hover {
    transform: translate(0px, -0.25rem);
    transition: all 0.5s ease;
}

li > a {
    color:#7f0cb4;
    align-self: center;
}
li > a:hover {
    text-decoration: underline;
}